* {
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

ul,
li {
    list-style: none;
}

.color-black {
    color: #000;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.more {
    padding: 15px 40px;
    background-color: #b1040e;
    color: white;
    text-decoration: none;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 15px;
    display: inline-block;
    margin-top: 30px;
}

.more:hover {
    text-decoration: none;
    color: #fff;
    background-color: #820000;
}

/* Header start */

.header {
    height: 145px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
    position: fixed;
    z-index: 9999;

}

.header-top {
    padding-top: 7px;
    height: 85px;
}

.black {
    background: #8FFFB8;
}

.logo img {
    float: left;
    width: 375px;
}

.search {
    float: right;
    color: white;
    margin-top: 23px;
    font-size: 20px;
}

.header-bottom {
    height: 54px;
}

.header-white {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.header-white .menu ul li a {
    color: #000;
}

.header-white .menu ul li a:hover {
    border-bottom: 3px solid #000;
}

.menu {
    text-align: center;
}

.menu ul {
    margin: 0 auto;
    display: inline;
}

.menu ul li {
    display: inline-block;
    padding: 10px 22px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.menu ul li a:hover {
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
    transition: 0.3s;
}

.banner img {
    width: 100%;
    height: 100vh;
    /* background-image: url(../img/banner.jpg); */
    background-size: cover;
    background-position: center;
}

/* Academics */

.academic-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* .accelerating-climate-solutions-header {
    margin-top: 65px;
} */

.accelerating-climate-solutions-header h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.25em;
}

.accelerating-climate-solutions-header p {
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 0 85px;
}

.accelerating-climate-solutions img {
    width: 100%;
    height: 250px;
}

.accelerating-climate-solutions h3 {
    margin-top: 20px;
    font-weight: 600;
}

.seven-schools-in-which-to-pursue-your-passions h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 28px;
    font-weight: 900;
}

.home-departments {
    text-align: center;
}

.home-departments ul {
    margin: 0 auto;
    display: inline-block;
}

.seven-schools-in-which-to-pursue-your-passions ul li {
    display: inline-block;
    padding: 0px 8px;
    border-right: 2px solid #000;
    line-height: 22px;
}

.seven-schools-in-which-to-pursue-your-passions ul li:last-child {
    border-right: none;
}

.seven-schools-in-which-to-pursue-your-passions ul li a {
    font-size: 22px;
    text-decoration: none;
}

.seven-schools-in-which-to-pursue-your-passions h5 {
    margin-top: 100px;
    text-align: center;
}

.seven-schools-in-which-to-pursue-your-passions h5 a {
    text-decoration: none;
    padding: 15px 80px;
    color: white;
    background-color: #b1040e;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 15px;
}

.seven-schools-in-which-to-pursue-your-passions h5 a:hover {
    background-color: #820000;
}

/* News Start */

.news-section {
    background-color: #F9F6EF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.news-header h2 {
    text-align: center;
    /* margin-top: 50px; */
    font-size: 45px;
    font-weight: 900;
}

.news-header p {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.news-banner-6 {
    padding: 10px;
}

.news-banner-6 img {
    height: 350px;
    width: 100%;
    position: relative;
}

.news-image-body {
    position: absolute;
    margin-top: -115px;
    max-width: 550px;
    width: 100%;
    height: 115px;
    background: linear-gradient(360deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)100%);
}

.news:hover>.photo {
    transform: scale(1.1);
    transition: .3s;
}

.news-image-body p {
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
}

.news-image-body h4 {
    margin-left: 30px;
}

.news-image-body h4 a {
    color: #fff;
    text-decoration: none;
}

.news-image-body h4 a:hover {
    color: #fff;
}

.news-banner-body h5 a {
    color: #000;
    text-decoration: none;
}

.news-banner-body h5 a:hover {
    color: #006CB8;
}

.news {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.news img:hover {
    transform: scale(1.1);
    transition: .3s;
}

.news-banner-3 {
    height: 350px;
    padding: 10px;
    margin-bottom: 30px;

}

.news-banner-3 img {
    width: 100%;
    height: 185px;
}

.news-banner-body {
    padding: 24px;
    background-color: #fff;
}

.news-footer h5 {
    text-align: center;
    margin-top: 55px;
}

.news-footer h5 a {
    padding: 15px 40px;
    background-color: #b1040e;
    color: white;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 15px;
}

.news-footer h5 a:hover {
    background-color: #820000;
}

/* Research Start */

.research-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.research-top h3 {
    text-align: center;
    /* margin-top: 50px; */
    font-size: 45px;
    font-weight: 900;
}

.research-top p {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
}

.research-info {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 30px 0;
}

.research-info .col-md-4 {
    text-align: center;
}

.research-info p {
    margin: 0;
}

.research {
    margin-top: 60px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.research-image {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.research img {
    width: 100%;
    height: 170px;
}

.research img:hover {
    transform: scale(1.1);
    transition: .3s;
}

.research-body {
    padding: 15px;
}

.research-body h4 a:hover~.research img {
    transform: scale(1.1);
    transition: .3s;
}

.research-footer h5 {
    text-align: center;
    margin-top: 110px;
}

.research-footer h5 a {
    padding: 15px 65px;
    background-color: #b1040e;
    color: white;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 15px;
}

.research-footer h5 a:hover {
    background-color: #820000;
}

/* Upcoming Events */

.event-header h3 {
    text-align: center;
    /* margin-top: 50px; */
    margin-bottom: 25px;
    font-size: 45px;
    font-weight: 900;
    color: #fff;
}

.event {
    background-color: #fff;
    margin-top: 20px;
    height: 500px;
    border-radius: 5px;
}

.event .image {
    overflow: hidden;
    width: 100%;
    height: 255px;
}

.event img {
    width: 100%;
    height: 255px;
    position: relative;
}

.event img:hover {
    transform: scale(1.1);
    transition: .3s;
}

.event-date {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #2F2424;
    text-align: center;
    margin-left: 15px;
    margin-top: -35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.event-date p:first-child {
    margin-top: 5px;
}

.event-date p {
    color: #fff;
    margin: 0;
}

.event-body {
    padding: 25px;
    margin-top: 20px;
}

.event-body h4 {
    font-size: 15px;
}

.event-body h3 a {
    font-size: 30px;
    text-decoration: none;
}

.event-body h5 {
    margin-top: 20px;
}

.more-event {
    text-align: center;
    margin-top: 85px;
}

.more-event a {
    padding: 10px 75px;
    background-color: #b1040e;
    text-decoration: none;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 15px;
}

.more-event a:hover {
    background-color: #820000;
}

/* About */

.h-about-header h3 {
    text-align: center;
    /* margin-top: 50px; */
    font-size: 45px;
    font-weight: 900;
}

.h-about-header p {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.h-about-body {
    margin-top: 40px;
}

.h-about-body h5 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.h-about-body h3 {
    text-align: center;
    font-weight: 900;
}

.h-about-link {
    margin-top: 60px;
}

.h-about-link h5 {
    text-align: center;
    margin-bottom: 75px;
}

.h-about-link h5 a {
    padding: 10px 75px;
    background-color: #b1040e;
    color: #fff;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 15px;
}

.h-about-link h5 a:hover {
    background-color: #820000;
}

.h-about-image img {
    width: 100%;
}

/* footer */

.social-link {
    background-color: #F4F4F4;
    height: 50px;
    margin-top: 40px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.social-link ul {
    float: right;
    margin-top: 2PX;
}

.social-link ul li {
    float: left;
}

.social-link ul li a {
    font-size: 33px;
    padding: 0 7px;
}

/* Footer */

.footer {
    margin-top: 40px;
}

.footer h4 {
    font-size: 35px;
    color: #820000;
}

.footer ul li a {
    text-decoration: none;
    color: #000;
}

.footer ul li a:hover {
    color: rgb(117, 117, 244);
}

.footer-left {
    float: left;
}

.footer-left img {
    width: 370px;
    margin-top: 10px;
}

.footer-right {
    float: right;
    margin-top: 10px;
}

.footer-right ul li {
    float: left;
    padding: 10px;
}

.footer-right ul li a {
    color: #000;
    text-decoration: none;
}

.footer-right ul li a:hover {
    color: rgb(125, 125, 250);
}

.copyright h5 {
    text-align: center;
}


/* Main div */

.main-div {
    margin-top: 180px;
}



/*
    Program page css
*/

.program-header {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

.program-sidebar {
    margin-top: 30px;
}

.program-sidebar h2 {
    font-weight: 700;
    font-size: 35px;
}


.program-sidebar nav ul li {
    line-height: 65px;
}

.program-sidebar nav ul li input {
    margin-right: 10px;
}

.program-sidebar nav ul li a {
    font-size: 22px;
    color: black;
}

.program-list {
    margin-top: 35px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/*
     Department Css
 */

.department-header {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

.department {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
}

.departmnet-img img {
    height: 230px;
    width: 100%;
}

.department-body {
    padding: 20px;
}

.department-body h3 {
    margin-top: 15px;
    font-weight: 700;
}

.department-body a {
    width: 100%;
}

/* Department Single */

.departmnet-news {
    margin-top: 70px;
}

.department-event {
    margin-top: 50px;
}

.department-facultymember {
    margin-top: 50px;
}


/* News CSS */

.news-header {
    font-weight: 900;
    font-size: 40px;
}

.news {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
}

.news-img img {
    height: 230px;
    width: 100%;
}

.news-body {
    padding: 20px;
}

.news-body h3 {
    margin-top: 15px;
    font-weight: 700;
}

.news-body a {
    width: 100%;
}

/* News Single */

.news-single-body {
    margin-top: 40px;
}

.news-single-body button {
    margin-top: 20px;
    font-size: 24px;
}

.news-single-body h2 {
    font-size: 65px;
}

.news-description {
    margin-top: 25px;
}

/* Events CSS */

.event-p-header {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

.event-p {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
}

.event-p-img img {
    height: 230px;
    width: 100%;
}

.event-p-body {
    padding: 20px;
}

.event-p-body h3 {
    margin-top: 15px;
    font-weight: 700;
}

.event-p-body a {
    width: 100%;
}

/* Research CSS */

.research-p-header {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

.research-p {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
}

.research-p-img img {
    height: 230px;
    width: 100%;
}

.research-p-body {
    padding: 20px;
}

.research-p-body h3 {
    margin-top: 15px;
    font-weight: 700;
}

.event-p-body a {
    width: 100%;
}


/* Contact CSS */

.contact-header h2 {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

.contact-info {
    margin-top: 40px;
}

.contact-body {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
}

.contact-body i {
    font-size: 45px;
    float: left;
}

.contact-body-info {
    margin-left: 65px;
}

.contact-map h3 {
    margin-top: 50px;
}

.contact-map iframe {
    width: 100%;
}


/* Notice CSS */


.notice-single-body button {
    margin-top: 20px;
    font-size: 24px;
}

.notice-single-body h2 {
    font-size: 65px;
}

.notice-description {
    margin-top: 25px;
}

/* program single  */



.tabbox button.active {
    background: #3E2D79 !important;
    color: #fff !important;
}

.tabbox button {
    cursor: pointer !important;
}

.program-single .card-header {
    background: #3E2D79;
    padding: 0;
}

.program-single .card-header h5 button {
    color: #fff;
    display: block;
    width: 100%;
    text-align: left;
}

.program-single .modal-title {
    color: #fff;
}

.program-single .modal-dialog {
    margin-top: 10%;
}

.right-bar {
    border-right: 1px solid #ddd;
}

.mnav {
    display: none;
}

.breadcrumb-area {
    min-height: 300px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.breadcrumb-area .container {
    background: rgba(0, 0, 0, .5);
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100%;
}

h1.page-title {
    margin-top: 100px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    display: inline-block;
    
}

.profile-card {
    margin-bottom: 30px;
}

.profile-card .profile-image-rounded{
    overflow: hidden;
    width: 120px;
    height: 120px;
    display: block;
    margin: 15px auto;
    border:5px solid #ddd;
}

.profile-card .profile-image-rounded:hover img{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5;
}

.profile-card .title {
    background: #002147;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.profile-card .card-body {
    margin: 0;
    padding: 0;
}

.profile-card .link {
    margin: 20px auto;
    text-align: center;
    border: 2px solid #002147;
    border-radius: 35px;
    padding: 5px 15px;
    max-width: 200px;
    cursor:pointer;
}

.profile-card .link:hover {
    background:#002147;    
}
.profile-card .link:hover a{
    color:#fff;    
    text-decoration: none;
}

.profile-card.link a  {
    color:#002147;
    text-decoration: none;
}


@media only screen and (min-width:992px) and (max-width:1000px) {

    .menu ul li {
        display: inline-block;
        padding: 10px 18px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {

    /* menu */

    .mnav {
        display: block;
    }

    .header-top {
        display: none;
    }

    .header-bottom .container {
        padding: 0;
        margin: 0;
    }

    .header-bottom .row {
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .header-bottom .col-md-12 {
        margin: 0;
        padding: 0;
    }

    .header-bottom .navbar {
        margin: 0;
        padding: 0;
    }

    div#carouselExampleControls {
        margin-top: 130px;
    }

    .news-image-body {
        overflow: hidden !important;
    }

    div.navbar-collapse {
        background: rgba(0, 0, 0, .8);
        height: 100vh;
    }

    div.navbar-collapse ul li {
        display: block;
    }

    button.navbar-toggler.collapsed .menu-close {
        display: none;
    }

    button.navbar-toggler .collapsed .navbar-toggler-icon {
        display: block;
    }

    button.navbar-toggler .navbar-toggler-icon {
        display: none;
    }

    button.navbar-toggler.collapsed .navbar-toggler-icon {
        display: block;
    }

    button.navbar-toggler {
        width: 100px !important;
        flex-basis: 100px;
    }

    button.navbar-toggler:focus {
        outline: 0;
    }

    .header-white .menu ul li a {
        color: #fff;
    }

    span.menu-close {
        width: 30px;
        display: inline-block;
    }

    button.navbar-toggler:focus {
        outline: 0;
    }

    button.navbar-toggler {
        border: 0 !important;
    }

}


@media (max-width:767px) {
    .logo img {
        max-width: 80%;
    }

    .accelerating-climate-solutions-header p {
        font-size: 20px;
        margin-bottom: 50px;
        padding: 0;
    }

    .accelerating-climate-solutions {
        text-align: center;
        padding-bottom: 25px;
    }

    .section-header {
        font-size: 30px !important;
    }

    .header {
        max-width: 100vw;
    }

    .news-banner-6 {
        overflow: hidden;
    }

    .news-image-body p {
        margin: 0;
        text-align: center;
    }

    .news-image-body h4 {
        margin: 0;
        text-align: center;
    }

    /* menu */

    .mnav {
        display: block;
    }

    .header-top {
        display: none;
    }

    .header-bottom .container {
        padding: 0;
        margin: 0;
    }

    .header-bottom .row {
        margin: 0;
        padding: 0;
    }

    .header-bottom .col-md-12 {
        margin: 0;
        padding: 0;
    }

    .header-bottom .navbar {
        margin: 0;
        padding: 0;
    }

    div#carouselExampleControls {
        margin-top: 65px;
    }

    .news-image-body {
        overflow: hidden !important;
    }

    div.navbar-collapse {
        background: rgba(0, 0, 0, .8);
        height: 100vh;
    }

    div.navbar-collapse ul li {
        display: block;
    }

    button.navbar-toggler.collapsed .menu-close {
        display: none;
    }

    button.navbar-toggler .collapsed .navbar-toggler-icon {
        display: block;
    }

    button.navbar-toggler .navbar-toggler-icon {
        display: none;
    }

    button.navbar-toggler.collapsed .navbar-toggler-icon {
        display: block;
    }

    button.navbar-toggler {
        width: 100px !important;
        flex-basis: 100px;
    }

    button.navbar-toggler:focus {
        outline: 0;
    }

    .header-white .menu ul li a {
        color: #fff;
    }

    span.menu-close {
        width: 30px;
        display: inline-block;
    }

    button.navbar-toggler:focus {
        outline: 0;
    }

    button.navbar-toggler {
        border: 0 !important;
    }

    /* footer */

    .footer-left img {
        max-width: 90%;
    }
}


/* animation */

.counter {
    /* Other styling for the counter element */

    /* Set the animation to run indefinitely */
    animation: count-up infinite;
    /* Set the animation duration to 5 seconds */
    animation-duration: 5s;
<<<<<<< HEAD
  }

  @keyframes count-up {
=======
}

@keyframes count-up {

>>>>>>> 09cefb5b0613cfa3922e084aa8b2c21a5c083b0d
    /* Set the start value to 0 */
    0% {
        content: "0";
    }

    /* Set the end value to the desired number */
    100% {
        content: "100";
    }
<<<<<<< HEAD
  }
=======
}
>>>>>>> 09cefb5b0613cfa3922e084aa8b2c21a5c083b0d
